@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    @* <h1 class="display-4">Welcome</h1> *@
   
    <div class="carousel slide" id="mainSlider" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./img/index1.jpeg" alt="" class="d-block w-100" >


            </div>
            <div class="carousel-item " >
                <img src="./img/view.jpg" alt="" class="d-block w-100">


            </div>
            <div class="carousel-item">
                <img src="./img/index4.png" alt="" class="d-block w-100">


            </div>
        </div>
    </div>

  <div class="container marketing-wrapper">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-5">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#DF2E2E"/><text x="50%" y="50%" fill="#E02401" dy=".3em">140x140</text></svg>

        <h2>Mision</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur in ut modi similique repudiandae doloribus tempore nobis sed hic,.</p>
        <p><a class="btn btn-danger" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#DF2E2E"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Vision</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur in ut modi similique repudiandae doloribus tempore nobis sed hic,.</p>
        <p><a class="btn btn-danger" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#DF2E2E"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Cobertura</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur in ut modi similique repudiandae doloribus tempore nobis sed hic,?.</p>
        <p><a class="btn btn-danger" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->




    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
