@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    @* <h1 class="display-4">Welcome</h1> *@

   
    <div class="carousel slide" marginTop id="mainSlider" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./img/index1.jpeg" alt="" class="d-block w-100" >


            </div>
            <div class="carousel-item " >
                <img src="./img/view.jpg" alt="" class="d-block w-100">


            </div>
            <div class="carousel-item">
                <img src="./img/index4.png" alt="" class="d-block w-100">


            </div>
        </div>
    </div>

  