@page
@model ProyectoCiclo3.App.Frontend.Pages.FormUsuarioModel
@{

}
 

 <h1 align="center">Crear Usuarios</h1>


<div class="text-justify">
<form method="POST">
 
  <label for="nombre" class="form-label">Digite Nombre:</label>
  <input type="text" class="form-control" id="nombre"  placeholder="Nombre" asp-for="Usuario.nombre" >
 
  <label for="apellidos" class="form-label">Digite Apellidos:</label>
  <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" asp-for="Usuario.apellidos">

  <label for="direccion" class="form-label">Digite Direccion:</label>
  <input type="text" class="form-control" id="direccion"  placeholder="Dirección" asp-for="Usuario.direccion">
  
  <label for="telefono" class="form-label">Digite Telefono:</label>
  <input type="text" class="form-control" id="telefono"  placeholder="Telefono" asp-for="Usuario.telefono">

  <label for="ciudad" class="form-label">Ciudad:</label>
  <input type="text" class="form-control" id="ciudad"  placeholder="Ciudad" asp-for="Usuario.ciudad">
  
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
